services:
  web:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - 80:8080
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - 5050:5050
