services:
  web:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "80:8080"
    networks:
      mynet:
        ipv4_address: 172.20.0.10
    depends_on:
      - backend
    volumes:
      - ./config.yaml:/config.yaml


  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "5050:5050"
    networks:
      mynet:
        ipv4_address: 172.20.0.11
    volumes:
      - ./config.yaml:/config.yaml

networks:
  mynet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16